.v-topo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 60px;

    z-index: 9999;

    background-color: #06b6d4;
}

.v-topo > img{
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;



     width: 180px;
    height: 58px;
}


.v-toggle{
    float: right;
    line-height: 50px;
    margin-right: 15px;

    color: #fff;
}


.v-topo > a:nth-child(2){

    float: right;
    line-height: 55px;
    margin-right: 15px;

    color: #fff;
}

.v-sidebar{
    position: fixed;
    top: 59.5px;
    bottom: 0;
    left: 0;
    width: 210px;
    margin-left: -211px;
    z-index: 9998;
    transition: margin-left 0.5s;
    overflow-y: auto;

    border-color: #dfe4ea;
    border-right: 1px solid #7f8c8d;
    border-top: 1px solid #7f8c8d;
    border-top-right-radius: 6px;

    background-color: #ecf0f1;

}

.v-sidebar.is-toggled {
    margin-left: 0px;
}

@media (min-width: 960px) {
    .v-sidebar {
        margin-left: 0px;
    }

    .v-sidebar.is-toggled {
        margin-left: -211px;
    }
}

.v-menu {
    margin-top: 15px;
    font-size: 1.1em;
}

.v-menu > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.v-menu > ul a {
    display: block;
    padding: 10px 15px;

    text-decoration: none;
    font-weight: 500;
    color: rgb(56,173,169);
}

.v-menu > ul i {
    margin-right: 6px;
}


/* CONTENT */
.cr-content {
    padding: 0 15px;
    margin-top: 59px;
    transition: margin-left 0.5s;
}

@media (min-width: 960px) {
    .cr-content {
        margin-left: 210px;
    }

    .cr-content.is-toggled {
        margin-left: 0;
    }
}

.product-list-action{
    float: right;
}